<main>
  <header>
    <h1>{{ article?.title }}</h1>
    <p>
      Publicado por {{ article?.author }} •
      {{ article?.createdAt | date : "dd/MM/yyyy" }}
    </p>
    <div class="tag-container">
      @for (tag of article?.categories; track $index) {
      <app-tag [label]="tag.name" />
      }
    </div>
  </header>

  <article>
    {{ article?.content }}
  </article>

  <section class="comment-input">
    <h4>Comentários</h4>
    <textarea
      name="comentario"
      id="comentario"
      placeholder="Escreva um comentário..."
    ></textarea>
    <app-common-button width="40%" label="Comentar" />
  </section>

  @for (comment of comments; track $index) {
  <app-comment [comment]="comment" />
  }
</main>
