<main>
  <h1>Novo artigo</h1>

  <div class="field">
    <label for="title">Título do artigo *</label>
    <app-common-input placeholder="Título" name="title" [value]="title" />
  </div>

  <div class="field">
    <label for="image">Imagem do artigo *</label>
    <app-common-input
      placeholder="URL da imagem"
      name="image"
      [value]="image"
    />
  </div>

  <div class="field">
    <label for="title">Tags *</label>
  </div>

  <div class="field">
    <label for="content">Conteúdo</label>
    <textarea
      name="content"
      id="content"
      [(ngModel)]="content"
      placeholder="Escreva aqui seu artigo..."
    ></textarea>
  </div>

  <app-common-button label="Criar artigo" />
</main>
